main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

main .content {
  width: 60%;
}

main aside {
  width: 40%;
}

.form {
  padding: 0px 25px;
}

.form div {
  margin: 10px 0px;
}

input {
  display: block;
  padding: 10px;
  width: 100%;
}

button {
  display: block;
  padding: 10px;
  width: 100%;
}

.lista {
  padding: 20px;
}
